

<div class="container">
    <div class="image-with-content">
    <figure class="figure">
      <img src="/assets/Animation - 1709035875372.gif" class="figure-img img-fluid rounded" alt="...">
    </figure>
    <div class="content">

      <p> heres the catalog to use this application.</p>
    </div>
  </div>



  <div class="container ">
    <div class="accordion " id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Login with your credentials
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            This covin application mainly delicates space to the slots for people according to their login states it shows all the process heres the way to use this application <strong>Login with your credentials if not register and try it</strong>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Select the slots
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            then select the area and the locality would you prefer for and make click on the <strong>Book slot</strong> button and fill the details with it.
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            OTP refer
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            On entering the details pick the required timeslots to allocate your specific time and<strong>NOTE:: if a candidate not claim the slots he or she can be not able to book for the next day</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

