<div class="container">
  <h2>User Login</h2>
  <form [formGroup]="AdminloginForm" (ngSubmit)="submitadminLoginForm()">
    <!-- Name -->
    <div class="form-group">
      <label for="fullName" class="form-label">Name:</label>
      <input type="text" id="fullName" name="fullName" required formControlName="Name">
      <div class="text-danger" *ngIf="Name.errors?.['required'] && (Name.touched || Name.dirty)">
        Name is required
      </div>
    </div>

    <!-- Email Address -->
    <div class="form-group">
      <label for="email">Email Address:</label>
      <input type="email" id="email" name="email" required formControlName="Email">
      <div class="text-danger" *ngIf="Email.errors?.['required'] && (Email.touched || Email.dirty)">
        Email is required
      </div>
    </div>

    <!-- Password -->
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required formControlName="Password">
      <div class="text-danger" *ngIf="Password.errors?.['required'] && (Password.touched || Password.dirty)">
        Password is required
      </div>
    </div>


    <!-- Submit Button -->
    <div class="form-group">
      <button type="submit" routerLink="/list">Login As Admin</button>
    </div>
  </form>
</div>
